/* .answer-btn {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

עיצוב לתשובה נכונה - ירוק
.answer-btn.correct {
    background-color: #18dcd9 !important;
    color: white;
    border-color: #38638e;
}

/* עיצוב לתשובה שגויה - אדום */
.answer-btn.wrong {
    background-color: #f44336 !important;
    color: white;
    border-color: #d32f2f;
}

.answer-btn:disabled {
    cursor: not-allowed;
}