
/* עיצוב לתשובה שגויה - אדום */
.answer-btn.wrong {
    background-color: #f44336 !important;
    color: white;
    border-color: #d32f2f;
}

.answer-btn:disabled {
    cursor: not-allowed;
}
/* לעיצוב רקע טשטוש הכדורים */
#tsparticles canvas {
  filter: blur(10px);
}